html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(129, 107, 107)
}

header{
color: #fff;
text-align: center;

font-size: 1.5em;
}

section.tudo{
background-color: white;
border-radius: 5px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);

}

div{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

div.dados  p  label {
    font-size: 1.6em;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 430px;

    font-size: 1.4em;
}

input[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
    width: 450px;
}

div#res{
    font-size: 1.5em;
}

.minha-imagem {
    border-radius: 5px;
    height: 250px;
    width: 250px;
}

.minha-imagem:hover {
    transition: 0.8s;
    transform: scale(1.1);
}

#foto {
    text-align: center;
}

#foto img {
    border-radius: 10px;
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
}

#imagemResultado:hover {
    transform: scale(1.1);
    transition: transform 0.8s;
}

#res {
    text-align: center;
}

/* Media Queries */

@media (max-width: 1200px) {
    body {
        display: block;
    }

    .tudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px;
    }

    #foto img {
        border-radius: 5px;
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 90%;
    }
}